



.yellow {background-color: lightblue}
body {
    /* direction:rtl; */
    text-align: right;
    /* font-size: 85%  */
}
.small {font-size: 80%}


.showOff {display: none}
.ShowOn {display:block}
img {padding-bottom: 20px;margin-bottom: 20px}

.hideMe {display : none}

.form-group {
    direction: rtl;
}

.final { border: 4px solid blue; margin: 4px;} 
.backg1 {background-color: rgb(133, 152, 255);color: rgb(10, 1, 1)}
.backg2 {background-color: rgb(24, 58, 250);color: rgb(255, 255, 255)}
