<div class = "final" ng-controller="homeCtrl" class="container">
    <div class="row">
      <div class="col-md-6" style="background-color:lavender">
          <br/><br/>
      <h3 class="backg1">.תודה רבה לכם המשתתפים על השתתפותכם בחידון</h3>
      <h3 class="backg2">.תודה לך ניר חנס המדריך התותח שבזכותך כולנו למדנו והחכמנו ובנינו את הפרוייקטים היפים האלה</h3>  
      <h3 class="backg1">.תודה לכם נדב וירון שתרגלתם אותנו ועזרתם לנו בכל השלבים בקורס</h3>
      <h3 class="backg2"> .תודה לך ורד ולכל צוות עמותת תפוח שליוו אותנו לאורך כל הקורס</h3>  
      <h3 class="backg1"> .תודה לכל החברות שיזמו ומימנו את הקורס פיתוח אפליקציות ווב</h3>
      <h3 class="backg2"> .ואחרון חביב, תודה לכם, החברים שלי לקורס, שביחד עזרנו ותמכנו אחד בשני והפכנו לצוות לעניין</h3> 
      <img src="tapuach.jpg" alt="עמותת תפוח" style="width:100%">   
    </div>

    <div class="col-md-6 " style="background-color:lavenderblush;">
        <h2>ניקוד מסכם</h2>
        <table class="table table-bordered table-sm" style="direction:rtl;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">שם</th>
              <th scope="col">ניקוד</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in members | orderBy : 'totPoints' : true |  limitTo: 999">
              <th scope="row">{{$index+1}}</th>
              <td>{{member.name}}</td>
              <td>{{member.totPoints}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  
  