<div ng-controller="homeCtrl" class="container">
    <div class="jumbotron">
        <h1>החידון</h1>
        <h5>החידון הטוב ביותר בסגנון טריוויה לקבוצה</h5>
        <h6> {{activeQuiz.id}} / {{activeQuiz.name}} :חידון פעיל</h6>
    </div>

    <div class="row">
        <div class="col-md-6" style="background-color:lavender">
            <h3>כניסת מנהל החידון</h3>
            <br/>
            <form>
                <div class="form-group">
                    <label for="mgrName">שם המנהל</label>
                    <input type="text" class="form-control" id="mgrName" ng-model="mgrName">
                </div>
                <div class="form-group">
                    <label for="mgrPass">סיסמת המנהל</label>
                    <input type="password" class="form-control" id="mgrPass" ng-model="mgrPass">
                </div>
                <button type="button" class="btn btn-block btn-lg btn-success" ng-click="mgrLogin()">כניסה כמנהל</button>
            </form>
        </div>
        <div class="col-md-6" style="background-color:lavenderblush;">
            <h3>כניסת משתתפים</h3>
            <br/>
            <form>
                <div class="form-group">
                    <label for="quizName">שם החידון</label>
                    <input type="text" class="form-control" id="quizName" ng-model="quizName">
                </div>
                <div class="form-group">
                    <label for="quizNumber">מספר החידון</label>
                    <input type="number" class="form-control" id="quizNumber" ng-model="quizNumber">
                </div>
                <div class="form-group">
                    <label for="memberName">שם המשתתף</label>
                    <input type="text" class="form-control" id="memberName" ng-model="memberName">
                </div>
                <button type="button" class="btn btn-block btn-lg btn-success" ng-click="memberLogin()">כניסה כמשתתף</button>
            </form>
        </div>
    </div>